.centered {
    text-align: center;
    align-items: center;
    overflow-y: scroll;
}

.intro-container {
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.textbox-container {
    margin-bottom: 15px;
    font-size: x-large;
}

.buttonView {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background: #2f3640;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #0c60863e;
    margin-left: 10px;
    margin-right: 10px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.button:active:hover {
    background-color: #181b20
}

.button:active {
    background: #2f3640;
    box-shadow: 0 6px #e7e7e74e;
    transform: translateY(6px);
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.searchBox {
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.searchBox:hover>.searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: #2f3640;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 24px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 150px;
        padding: 0 6px;
    }
}